.resetPassword-Card{
    margin: 0 auto;
    margin-top: 100px;
    width: 50%;
}

.resetPassword-Card > Alert{
    color: rgb(221, 122, 122);
}

.reset-btn > span{
    margin: 0 10px;
    font-size: 15px;
}

.reset-btn{
    padding: 10px 20px;
    background-color: rgb(46, 184, 108);
    color:white;
    border: none;
    border-radius: 30px;
}